.banner {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 30px;
  background-color: turquoise;

}

.tabBtn {
  text-align: center;
}

.dangerBtn {
  margin-top: 1rem;
  background-color: #f0b4b9;
  border-color: #f0b4b9;
  color: #721c24;
  cursor: pointer;
  width: 100%;
}

.dangerBtn:hover {
  background-color: #f7949c;
  border-color: #f7949c;
}

.successBtn {
  margin-top: 1rem;
  background-color: #bdeec9;
  border-color: #c3e6cb;
  color: #155724;
  cursor: pointer;
  width: 100%;
}

.successBtn:hover {
  background-color: #7ee997;
  border-color: #95eba9;
  color: black;
}